footer {
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer div {
    padding: 2rem 0;
}

footer img {
    padding: 0;
}