.modal-background {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-frame {
    position: absolute;
    width: 40%;
    margin: 10vw 30%;
    max-height: 40%;
    background-color: var(--alb-modal-bg-color, var(--background-color, white));
    border-radius: 0.3rem;
}

.modal-header {
    border-bottom: 1px solid var(--alb-modal-header-color, var(--darker-theme, black));
}

.modal-header h2 {
    margin-bottom: 0.1rem;
}

.modal-body {
    text-align: left;
}
