body{
	text-align: center;
    background: url("images/snow.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.footer{
    background-color: rgba(135, 99, 64, .75);
    border-radius: 0.625em;
    text-align: center;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}

div.projects{
    background-color: rgba(250, 240, 230, .75);
    color: black;
    border-radius: 0.625em;
    width: 100%;
}

img.logo{
    vertical-align: middle;
    padding: 0px;
    height: 75px; 
    width: 75px; 
    border:solid; 
    border-radius: 10px; 
    padding: 5px;
}

img.footerImg{
    width:50px;
    height:50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.logoText{
    display: inline-block;
    padding: 50px;
    vertical-align: middle;
}
div.pictureContainer{
    background-color: rgba(250, 240, 230, .75);
    color: black;
    border-radius: 0.625em;
    width: 100%;
}
img.picture{
    height: 50%;
    width: 66.5%;
    border: solid;
    border-radius: 5px;
}

a{
    color: black;
}

hr{
width: 75%;
}