body{
	position: absolute;
	background-color: #1ec503;
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

h1{
	text-align: center;
	background-color: #1ec503;
	font-size: 1.75em;
}

div.gameBody{
	position: fixed;
	align-self: center;
	background-color: rgba(0, 0, 0, .85);
	border: 0;
	bottom: 0;
	top: 0;
	right: 30px;
	left: 30px;
	border-radius: 5px;
}

div.gameTitle{
	position: fixed;
	background-color: #1ec503;
	top: 40px;
	left: 50px;
}

div.paragraph{
	display: none;
	position: absolute;
	color: #1ec503;
	padding: 5%;
}