div{
    text-align: center;
}
#header1{
    display: block;
    background: rgba(174, 174, 108, .75);
    color: white;
    padding: 0.625em;
    border: 0;
    left: 0.625em;
    top: 0.625em;
    border-radius: 0.625em;
    position: fixed;
    opacity: 1;
}
div.secondHeader{
    display: block;
    background: rgba(174, 174, 108, .75);
    color: white;
    padding: 0.625em;
    border: 0;
    right: 0.625em;
    top: 0.625em;
    border-radius: 0.625em;
    position: fixed;
}
body{
    text-align: center;
    background: url("http://i.imgur.com/gqNbBZu.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
p{
    font-size: 1.5em;
    text-align: left;
}
h1.FileTitle{
    font-size: 3.125em;
    font-family: sans-serif;
    padding: .625em;
}
h1{
    font-size: 2em;
    font-family: sans-serif;
}
h3{
    text-align: left;
}
input{
    border: 0;
    padding: 0;
    font-size: 1.125em;
}
input[type="submit"]{
    background: green;
    color: black;
}
div.experiences{
    padding: 1.875em;
    background: rgba(250, 240, 230, .75);
    color: black;
    border-radius: .625em;

}
div.bottom{
    padding: 1.875em;
    background-color: rgba(250, 240, 230, .75);
    color: black;
    border-radius: 0.625em;
}
div.education{
    padding: 1.875em;
    background-color: rgba(250, 240, 230, .75);
    color: black;
    border-radius: 0.625em;
}
div.volunteering{
    padding: 1.875em;
    background-color: rgba(250, 240, 230, .75);
    color: black;
    border-radius: 0.625em;
}
div.footer{
    background-color: rgba(135, 99, 64, .75);
    border-radius: 0.625em;
    padding: 1.875em;
    text-align: center;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}
ul{
    text-align: left;
    font-size: 1.25em;
}
img{
    border-radius: 0.625em;
}
a{
    color: black;
}
h4{
    margin-top: 0;
    margin-bottom: 0;
}
