body {
	color: black;
	text-align: center;
	padding: 0;
	margin: 0;
	background-color: rgb(10,56,149);
	font-family: 'Ubuntu', sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

a.underlinable:hover {
	text-decoration: underline;
}

h2{
	padding-top: 0;
	margin-top: 0;
}

/* hr specific */
hr {
	width: 75%;
}

hr.sponsor-divider {
	width: 35%;
}

/* desktop and mobile headers */
.header {
	background-color: rgba(0, 0, 155, .5);
	z-index: 100;
	width: 100%;
	height: 2em;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	color: white;
	vertical-align: middle;
	font-size: 1.5em;
	top: 0;
}

.header-placeholder {
	position: relative;
	width: auto;
	height: 1.5em;
	top: .4em;
}

.header-image {
	width: auto;
	height: 2em;
}

.header-section {
	position: relative;
	display: inline-block;
	top: -.7em;

}

.mobile-header {
	position: fixed;
	z-index: 100;
	right: 5%;
	top: 5%;
}

/* */
.background {
	background-size: cover;
	background: url(../qmastImgs/higherQualityBoat.jpg) no-repeat fixed center;
}

.wrapper {
	background-color: rgba(255, 255, 255, .5);
}

.sponsor-block {
	display: inline-block;
	border:2px solid grey;
	border-radius: 5px;
	width: 33%;
	margin-bottom: 2em;
	margin-right: 2.5%;
	margin-left: 2.5%;
}

.footer {
	color: white;
	background-color: rgba(0, 0, 0, .5);
}

.short-intro {
	margin-top: -4px;
	color: black;
	background-color: rgba(44,254,253, .5);
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	font-size: 1.5em;
}

.short-description {
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 2em;
}
.sponsor-sheet {
	color: white;
}

.keep-in-touch {
	height: 300px;
	background-color: grey;
	vertical-align: middle;
	color: white
}

.teams {
	background-size: cover;
	background: url(../qmastImgs/sponsor_img.jpg) no-repeat fixed center;
}

.team-block {
	position: relative;
	top: 5px;
	display: inline-block;
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 23%;
	height: auto;
}

/* general image css */
.flipped {
	transform: scaleX(-1);
}

.logo {
	width: 0;
}

.wave-divider {
	opacity: .5;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.wave-footer-divider {
	width: 100%;
	height: auto;
	padding: 0;
	z-index: 20;
	margin: 0 0 -5px;
}

.logo-image {
	width: 50px;
	height: auto;
}

.sponsor-image {
	width: 90%;
	margin-bottom: 5%;
}


.wider {
	width: 65%;
}

.hamburger {
	width: 45px;
}

/* Button Styling */
button.donate-button {
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: rgb(44,254,253);
	border: none;
	border-radius: 4px;
	box-shadow: 0 5px #999;
	display: inline-block;
}

.donate-button:hover {
	background-color: #23CBCA;
}

.donate-button:active {
  background-color: #23CBCA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* General Tag css */
.hidden {
	display: none;
}

.pointer {
	cursor: pointer;
}

.paragraph-text-link {
	color: black;
	text-decoration: underline;
}

.paragraph-text-link:hover {
	color: white;
}

.no-margin {
	margin: 0;
}

.about-us {
	margin-top: 4px;
}
