@media screen and (min-width: 601px) {
	.alt-menu {
		display: none;
	}

	#mobile-menu {
		display: none;
	}

	.close-btn {
		display: none;
	} 
}

@media screen and (min-width: 992px) {
	.box {
    	height: auto !important;
		padding-top: 10%;
		padding-bottom: 10%;
	}

	.special-padding {
		margin-top: 30%;
	}

	.special-padding-less {
		margin-top: 15%;
	}

	.special-padding-tad {
		margin-top: 25%;
	}
}

@media screen and (min-width: 1150px) {
	.special-padding {
		margin-top: 25%;
	}

	.special-padding-tad {
		margin-top: 20%;
	}

	.special-padding-less {
		margin-top: 10%;
	}
}

@media screen and (min-width: 1200px) {
	.special-padding {
		margin-top: 15%;
	}

	.special-padding-tad {
		margin-top: 15%;
	}

	.special-padding-less {
		margin-top: 5%;
	}
}

@media screen and (max-width: 992px) {
	.workshop-img {
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 780px) {
	.desktop-header {
		display: none;
	}

	.header-push {
		height: 2rem;
	}

	.splash h1,
	.new-splash h1 {
		font-size: 4em;
		margin-top: 0;
		padding-top: 1em;
		margin-bottom: 0;
	}

	.alt-menu {
		display: block;
		position: fixed;
		top: 1em;
		left: 1em;
		opacity: 0.5;
		z-index: 1000;
	}

	hr {
		width: 75%;
	}
}

@media screen and (max-width: 575px) {
	.card-holster {
		text-align: center;
	}

	.card-holster div.col-sm-4 {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.card-parent {
		width: 100%;
		padding-top: 10px;
		height: 10rem;
		padding-left: 10%;
		padding-right: 10%;
	}

	.card {
		height: 10rem;
	}

	.card h3 {
		line-height: 10rem;
	}
}

#mobile-menu {
	display: none;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 500;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#mobile-menu a:hover,
#mobile-menu a:focus {
	text-decoration: none;
}

#mobile-menu hr.full {
	border-color: var(--lightest-theme-color);
	color: var(--lightest-theme-color);
	margin: 0;
	padding: 0;
}

#mobile-menu h4 {
	padding: 1em 0 1em 0;
}

.close-btn {
	display: block;
	position: fixed;
	top: 1em;
	left: 1em;
	border: 0;
	background-color: transparent;
	opacity: 0.5;
}

/** Hamburger tho **/
.hamburgler {
  width: 2em;
  height: 2em;
  display: block;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  cursor: pointer;
}
.hamburgler.no-hamburgler {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.bun,
.meat {
  display: block;
  width: 100%;
  background: var(--main-theme-brown);
  height: 20%;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  border-radius: 50px;
}

.no-hamburgler .top {
  height: 38%;
  width: 20%;
  margin-left: 40%;
  border-radius: 50px 50px 0 0;
}

.no-hamburgler .bottom {
  height: 38%;
  width: 20%;
  margin-left: 40%;
  border-radius: 0 0 50px 50px;
}

.meat {
  margin: 20% 0;
}

.no-hamburgler .meat {
  margin: 2% 0;
}
