/* New Splash */
.new-splash h4 {
    font-size: 1.25rem;
}

.new-splash h1 {
    font-size: 8rem;
    margin-top: 0;
    padding-top: 1rem;
    margin-bottom: 0;
}

.new-splash {
    position: relative;
    min-height: 100vh;
    background-color: black;
    margin-top: -5rem;
    overflow: hidden;
}

.new-splash > div,
.new-splash .untransform-splash-lower,
.new-splash .dark-mask,
.new-splash .splash-upper-img-tgt {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: calc(100vw);
}


@media screen and (max-height: 620px) {
    .new-splash > div,
    .new-splash .untransform-splash-lower,
    .new-splash .dark-mask,
    .new-splash .splash-upper-img-tgt {
        position: absolute;
        top: 0;
        left: 0;
        height: 50rem;
    }

    .new-splash {
        position: relative;
        min-height: 50rem;
        background-color: black;
        margin-top: -5rem;
    }
}

.splash-upper-img-tgt {
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
}

.splash-upper-img-tgt#up-1 {
    background-image: url("../assets/industrial/nuclear_full.jpg");
}

.splash-upper-img-tgt#up-2 {
    background-image: url("../assets/industrial/wind_full.jpg");
}

.splash-upper-img-tgt#up-3 {
    background-image: url("../assets/industrial/saw_full.jpg");
}

.splash-upper-img-tgt#up-4 {
    background-image: url("../assets/industrial/elec_full.jpg");
}

.splash-upper-img-tgt#up-5 {
    background-image: url("../assets/industrial/rockets_full.jpg");
    z-index: -2;
}

.splash-lower {
    transform-origin: top left;
    overflow: hidden;
    background-color: black;
}

.untransform-splash-lower {
    /*background-attachment: fixed;*/
    background-position: 0 100%;
    background-size: cover;
    margin-top: 50vh;
}

.untransform-splash-lower#lo-1 {
    background-image: url("../assets/industrial/server_full.jpeg");
}

.untransform-splash-lower#lo-2 {
    background-image: url("../assets/industrial/cranes_full.jpg");
}

.untransform-splash-lower#lo-3 {
    background-image: url("../assets/industrial/road_full.jpg");
}

.untransform-splash-lower#lo-4 {
    background-image: url("../assets/industrial/boat_full.jpg");
}

.untransform-splash-lower#lo-5 {
    background-image: url("../assets/industrial/caps_full.jpg");
    z-index: -2;
}

.splash-mask {
    z-index: 100;
    color: white;
}

.dark-mask {
    opacity: 0.7;
    background-color: black;
}

.dm-1 {
    background-color: var(--main-theme-blue);
}

.dm-2 {
    background-color: var(--main-theme-dark-blue);
}

.new-splash .fake-hr div {
    border: solid 1px white;
}