.brief-btn {
    width: 100%;
}

.brief-btn img {
    height: 2rem;
}

.company-logo {
    max-width: 250px;
    max-height: 150px;
}

article.card {
    color: black;
    margin: 0 10px;
}

.card:hover {
    box-shadow: 2px 2px 10px;
    animation-name: linear;
    animation-duration: 5s;
}

.card h3 {
    display: block;
}

.job-div {
    padding: 10px 0 30px 0;
}

.job-div a {
    line-height: 150px;
}