.centered {
    text-align: center;
}

.right-align {
    text-align: right;
}

.menu-bar-container {
    position: fixed;
    top: 0;

    height: 55px;
    background-color: white ;
    color: white;
    width: 100%;
    border-bottom: solid 1px lightgrey;
    z-index: 100;
    -moz-box-shadow:    0 3px #111;
    -webkit-box-shadow: 0 3px #111;
    -o-box-shadow: 0 0 8px 1px #111;
    box-shadow: 0 0 8px 1px #111;

    margin: 0 !important;
}